<footer>
    <div class="container">
        <div class="footer-content">
            <p>&copy; 2023 RPG Audiovisuales. Todos los derechos reservados.</p>
            <div class="support-contact">
            </div>
        </div>
    </div>
</footer>
