 ---
 import { SignedIn, SignedOut, UserButton, SignInButton } from '@clerk/astro/components'
 ---
 
 <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <h1>RPG Audiovisuales</h1>
                </div>
                <nav class="flex items-center justify-center">
                    <ul class="flex items-center justify-center">
                        <SignedIn>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/docu">Servicios</a></li>
                            <li><a href="#soporte">Soporte Técnico</a></li>
                        </SignedIn>
                        <li  class='flex justify-center items-center w-40 rounded-2xl h-10 px-4 py-2 hover:bg-blue-500 transition'>
                            <SignedIn>
                                <UserButton showName></UserButton>
                                </SignedIn>
                                <SignedOut>
                            <SignInButton mode='modal' class='cursor-pointer'>
                                <span class="text-white p-4">Acceso Clientes</span>
                                </SignInButton>
                            </SignedOut>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
